<form action='<%=bands_url%>' method='POST'>
    <label>Band name
        <input type='text' name='band[name]' value='<%= @bands.name%>'>
        <input type='submit' value='Start a new band'>
    </label>
</form>